---
title: Videos
slug: content_type_template
position: 0
listed: false
published: true
is_layout: false
content_type: videos
---
{% extends 'layouts/default' %}
{% block 'main' %}
%h3 {{ video.name }}
%p {{ video.desc }}
{% case video.origin %}
{% when 'youtube' %}
%iframe.w3-card{:allow => "autoplay; encrypted-media", :allowfullscreen => "", :frameborder => "0", :height => "480", :src => "https://www.youtube.com/embed/{{ video.url | remove: 'https://www.youtube.com/watch?v=' }}", :width => "854"}
{% endcase %}
%br
%hr
.w3-container
  %a{:href => "{% path_to 'list' %}?type=videos"}
    %i.fa.fa-arrow-left.fa-fw>
    \&#160; {{ 'back' | translate }}
{% endblock %}
