---
title: Videos
slug: content_type_template
position: 0
published: true
is_layout: false
content_type: videos
---
{% extends 'layouts/default' %}
{% block 'main' %}
:css
  .video-responsive{
      overflow:hidden;
      padding-bottom:56.25%;
      position:relative;
      height:0;
  }
  .video-responsive iframe{
      left:0;
      top:0;
      height:100%;
      width:100%;
      position:absolute;
  }
%h3 {{ video.name }}
%p{:style => "margin-top: -17px"}
  %i {{ 'whos' | translate }}
  %a{:href => "mailto:{{ video.account.email }}"} {{ video.account.name }}
  {% if video.version %}
  %br
  %i
    Locomotive&nbsp;{{ video.version }}
  {% endif %}
%p {{ video.desc }}
{% case video.origin %}
{% when 'youtube' %}
.video-responsive.w3-card
  %iframe{:allowfullscreen => "", :mozallowfullscreen => "", :webkitallowfullscreen => "", :frameborder => "0", :width => "auto%", :height => "auto", :src => "https://www.youtube.com/embed/{{ video.url | remove: 'https://www.youtube.com/watch?v=' }}"}
{% when 'vimeo' %}
.video-responsive.w3-card
  %iframe{:allowfullscreen => "", :mozallowfullscreen => "", :webkitallowfullscreen => "", :frameborder => "0", :width => "auto%", :height => "auto", :src => "https://player.vimeo.com/video/{{ video.url | remove: 'https://vimeo.com/' }}"}
{% endcase %}
%br
%hr
.w3-container
  %a{:href => "{% path_to 'list' %}?type=videos"}
    %i.fa.fa-arrow-left.fa-fw>
    \&#160; {{ 'back' | translate }}
{% endblock %}
