---
title: Apps
slug: content_type_template
position: 0
listed: false
published: true
is_layout: false
content_type: apps
---
{% extends 'layouts/default' %}
{% block 'main' %}
.w3-main{:style => "margin-left:300px;margin-top:43px;"}
  %header{:style => "padding-top:22px"}
  .w3-container
    %h5 {{ app.name }}
    %br
    %p {{ app.desc }}
    %br
    %img{:src => "{{ app.pict.url }}", :style => "max-width: 100%"}/
    %br
    %hr
  .w3-container
    .w3-bar
      %button.w3-bar-item.w3-button.w3-green
        %a{:href => "{{ app.url }}", :target => "_blank"} Source
      %button.w3-bar-item.w3-button.w3-red
        %a{:href => "{{ app.demo }}", :target => "_blank"} Demo
  %br
  .w3-container
    %a{:href => "/list?type=apps"}
      %i.fa.fa-arrow-left.fa-fw>
      \&#160; Back to the list
  {% include 'footer' %}
{% endblock %}
