---
title: Apps
slug: content_type_template
position: 0
published: true
is_layout: false
content_type: apps
---
{% extends 'layouts/default' %}
{% block 'main' %}
%h3 {{ app.name }}
%p{:style => "margin-top: -17px"}
  %i {{ 'whos' | translate }}
  %a{:href => "mailto:{{ app.account.email }}"} {{ app.account.name }}
  {% if app.version %}
  %br
  %i
    Locomotive&nbsp;{{ app.version }}
  {% endif %}
%p {{ app.desc }}
%img.w3-card{:src => "{{ app.pict.url | resize: '900x570>', strip: 'true' }}", :style => "max-width: 100%"}/
%hr
.w3-container
  .w3-bar
    {% if app.url %}
    %button.w3-bar-item.w3-button.w3-green
      %a{:href => "{{ app.url }}", :target => "_blank"} {{ 'sour' | translate }}
    {% endif %}
    {% if app.demo %}
    %button.w3-bar-item.w3-button.w3-red
      %a{:href => "{{ app.demo }}", :target => "_blank"} {{ 'demo' | translate }}
    {% endif %}
  %br
.w3-container
  %a{:href => "{% path_to 'list' %}?type=apps"}
    %i.fa.fa-arrow-left.fa-fw>
    \&#160; {{ 'back' | translate }}
{% endblock %}
