---
title: Gists
slug: content_type_template
position: 0
listed: false
published: true
is_layout: false
content_type: gists
---
{% extends 'layouts/default' %}
{% block 'main' %}
%h3 {{ gist.name }}
%p{:style => "margin-top: -17px"}
  %i {{ 'whos' | translate }}
  %a{:href => "mailto:{{ gist.account.email }}"} {{ gist.account.name }}
%p {{ gist.desc }}
<script src="{{ gist.url }}.js"></script>
%hr
.w3-container
  %a{:href => "{% path_to 'list' %}?type=gists"}
    %i.fa.fa-arrow-left.fa-fw>
    \&#160; {{ 'back' | translate }}
{% endblock %}
