.W3-container
  .w3-panel.w3-card.w3-light-grey
    :javascript
      var idcomments_acct = '94c5cc6750cea8e66c29b07573b0a7b6';
      var idcomments_post_id;
      var idcomments_post_url;
    %span#IDCommentsPostTitle{:style => "display:none"}
    %script{:src => "https://www.intensedebate.com/js/genericCommentWrapperV2.js", :type => "text/javascript"}
