%footer.w3-container.w3-padding-16.w3-light-grey
  %p.w3-center
    {{ 'push' | translate }} {{ 'whos' | translate }}
    %a{:href => "https://www.locomotivecms.com", :target => "_blank", :style => "text-decoration: none; color: orangered"} LocomotiveCMS
    @
    %a{:href => "https://www.alwaysdata.com", :target => "_blank", :style => "text-decoration: none; color: orangered"}Alwaysdata
    {{ 'time' | translate }}
    %span#speed
    ms
    |
    {{ 'clot' | translate }} {{ 'whos' | translate }}
    %a{:href => "https://www.w3schools.com/w3css/default.asp", :target => "_blank", :style => "text-decoration: none; color: orangered"} W3.css
    |
    {{ 'codd' | translate }} {{ 'whos' | translate }}
    %a{:href => "https://studiowan.fr", :target => "_blank", :style => "text-decoration: none; color: orangered"} StudioWan
    |
    {{ 'weee' | translate }}&nbsp;❤️
    {{ now | localized_date: '%Y' }}
  %p.w3-center
    Fork me on
    %a{:href => "https://github.com/manuchap/Tgv", :target => "_blank"}
      %i.fa.fa-github-alt.fa-fw
