/ Footer

%footer.w3-container.w3-padding-16.w3-light-grey
  %p.w3-center
    Pushed by
    %a{:href => "https://www.locomotivecms.com", :target => "_blank"} LocomotiveCMS
    |
    Dressed by
    %a{:href => "https://www.w3schools.com/w3css/default.asp", :target => "_blank"} w3.css
    |
    Integration by
    %a{:href => "https://studiowan.fr", :target => "_blank"} studiowan
    |
    &nbsp;❤️
    &nbsp;{{ now | localized_date: '%Y' }}
