:javascript

  // Change Avatar
  var imgBtn = document.getElementById("avatar");
  var fileInp = document.querySelector('[type="file"]');
  imgBtn.addEventListener('click', function() {
    fileInp.click();
  });
  var loadFile = function(event) {
    var output = document.getElementById('avatar');
    output.src = URL.createObjectURL(event.target.files[0]);
    form=document.getElementById("savatar");
    form.submit();
  };

  // Toggle Tabs
  function openTab(evt, tabName) {
    var i, x, tablinks;
    x = document.getElementsByClassName("tab");
    for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablink");
    for (i = 0; i < x.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
    }
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " w3-red";
  }

  // Action Modal
  function popactModal(clicked_id, url, lFunction) {
  document.getElementById('uact').action="{% path_to 'update_action' %}?name=" + clicked_id;

  // -> Ajax Call
  var xhttp;
  var url = url + '?slug=' + clicked_id;
    xhttp=new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        lFunction(this);
      }
    };
    xhttp.open("GET", url, true);
    xhttp.send();
  }

  // -> Populate Action
  function loadactFunction(xhttp) {
    var obj = JSON.parse(xhttp.responseText);
    document.getElementById('aname').value=Object.values(obj)[0];
    document.getElementById('adesc').value=Object.values(obj)[1];
    document.getElementById('acode').value=Object.values(obj)[2].replace(/<br\s*\/?>/ig, "\r\n");
    document.getElementById('update_action').style.display='block';
  }

  // App Modal
  function popappModal(clicked_id, url, lFunction) {

  // -> Ajax Call
  var xhttp;
  var url = url + '?slug=' + clicked_id;
    xhttp=new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        lFunction(this);
      }
    };
    xhttp.open("GET", url, true);
    xhttp.send();
  }

  // -> Populate App
  function loadappFunction(xhttp) {
    var obj = JSON.parse(xhttp.responseText);
    var code = Object.values(obj)[2];
    var tpl = document.createElement('template');
    tpl.innerHTML = code.replace(/<br\s*\/?>/ig, "\r\n");
    document.getElementById('aname').value=Object.values(obj)[0];
    document.getElementById('adesc').value=Object.values(obj)[1];
    document.getElementById('acode').appendChild(tpl.content);
    document.getElementById('update_action').style.display='block';
  }

  // -> Crisp
  {% unless wagon %}
  window.$crisp = [];
  window.CRISP_WEBSITE_ID = "c56616cb-a297-4c68-891f-32910280eff7";
  (function() { d = document;
    s = d.createElement("script");
    s.src = "https://client.crisp.chat/l.js";
    s.async = 1;
    d.getElementsByTagName("head")[0].appendChild(s); })();
  {% endunless %}