/ Signin Modal
#signin.w3-modal.w3-animate-zoom
  .w3-modal-content
    .w3-container
      %span.w3-button.w3-red.w3-display-topright
        <a href="#" style="text-decoration: none;" onclick="document.getElementById('signin').style.display='none'"> X</a>
      {% if auth_signed_out %}
      .alert.alert-info
        {{ 'disc' | translate }}
      {% endif %}
      {% if current_account %}
      .alert.alert-warning
        {{ 'auth' | translate }}
      {% else %}
      %header.w3-container
        %h3 {{ 'siin' | translate }}
      %form.w3-container.w3-card-4{:action => "{% path_to 'sign_in' %}", :method => "POST"}
        %input{:name => "auth_action", :type => "hidden", :value => "sign_in"}/
        %input{:name => "auth_content_type", :type => "hidden", :value => "users"}/
        %input{:name => "auth_id_field", :type => "hidden", :value => "email"}/
        %input{:name => "auth_password_field", :type => "hidden", :value => "password"}/
        %input{:name => "auth_callback", :type => "hidden", :value => "{% path_to me %}"}/
        {% if auth_wrong_credentials %}
        .alert.alert-warning
          {{ 'wcre' | translate }}
        {% endif %}
        .form-group
          %br
          %label{:for => "auth-email"} {{ 'mail' | translate }}
          %input#auth-email.w3-input{:name => "auth_id", :placeholder => "{{ 'mail' | translate }}", :type => "email", :value => "{{ params.auth_id }}"}/
        .form-group
          %label{:for => "auth-password"} {{ 'pass' | translate }}
          %span
            %a{:href => "{% path_to 'forgot_password' %}"} {{ 'forg' | translate }}
          %input#auth-password.w3-input{:name => "auth_password", :placeholder => "{{ 'pass' | translate }}", :type => "password", :value => ""}/
        %button.w3-margin-top.w3-margin-bottom.w3-button.w3-red.w3-ripple{:type => "submit"} {{ 'siin' | translate }}
      %br
      {% endif %}
