/ Create Action Modal
#create_action.w3-modal
  .w3-modal-content
    .w3-container
      %span.w3-button.w3-red.w3-display-topright
        <a href="#" style="text-decoration: none;" onclick="document.getElementById('create_action').style.display='none'"> X</a>
      %header.w3-container
        %h3 {{ 'nact' | translate }}
      %form.w3-container.w3-card-4{:action => "{% path_to 'create_action' %}", :method => "POST"}
        %input{:name => "account", :type => "hidden", :value => "{{current_account._slug}}"}/
        .form-group
          %label {{ 'name' | translate }}
          %input.w3-input{:name => "name", :type => "text", :value => "{{action.name}}"}/
        .form-group
          %label {{ 'desc' | translate }}
          %input.w3-input{:name => "desc", :type => "text", :value => "{{action.desc}}"}/
        .form-group
          %label {{ 'code' | translate }}
          %textarea.w3-input{:name => "code", :rows => 10, :value => "{{action.code}}"}
        %button.w3-margin-top.w3-margin-bottom.w3-button.w3-red.w3-ripple{:type => "submit"} {{ 'subm' | translate }}
      %br
