#create_section.w3-modal
  .w3-modal-content
    .w3-container
      %span.w3-button.w3-red.w3-display-topright
        <a href="#" style="text-decoration: none;" onclick="document.getElementById('create_section').style.display='none'">X</a>
      %header.w3-container
        %h3 {{ 'nsec' | translate }}
      %form.w3-container.w3-card-4{:action => "{% path_to 'create_section' %}", :method => "POST"}
        %input{:name => "account", :type => "hidden", :value => "{{current_account._id}}"}/
        .form-group
          %label {{ 'name' | translate }} *
          %input.w3-input{:name => "name", :type => "text", :value => "{{section.name}}"}/
        .form-group
          %label {{ 'desc' | translate }} *
          %input.w3-input{:name => "desc", :type => "text", :value => "{{section.desc}}"}/
        .form-group
          %label {{ 'code' | translate }} *
          %textarea.w3-input{:name => "code", :rows => 10, :value => "{{section.code}}"}
        .form-group
          %label {{ 'vers' | translate }}
          %select.w3-select{:name => "version", :value => ""}
            %option{:disabled => "disabled", :selected => "selected"}
            {% for option in contents.sections.version_options %}
            %option{:value => "{{ option }}"} {{ option }}
            {% endfor %}
        %p
          %i * {{ 'comp' | translate }}
        %button.w3-margin-top.w3-margin-bottom.w3-button.w3-red.w3-ripple{:type => "submit"} {{ 'subm' | translate }}
      %br
