---
title: Forgot password
slug: forgot_password
handle: forgot_password
position: 3
listed: false
published: true
is_layout: false
---
{% extends 'layouts/default' %}
{% block main %}
{% if current_account %}
.alert.alert-warning
  %h2.w3-center.w3-red {{ 'auth' | translate }}
{% else %}
{% if auth_reset_password_instructions_sent %}
.alert.alert-warning
  %h2.w3-center.w3-red {{ 'sent' | translate }}
{% else %}
%form{:action => "{% path_to 'forgot_password' %}", :method => "POST"}
  %input{:name => "auth_action", :type => "hidden", :value => "forgot_password"}/
  %input{:name => "auth_content_type", :type => "hidden", :value => "accounts"}/
  %input{:name => "auth_id_field", :type => "hidden", :value => "email"}/
  %input{:name => "auth_password_field", :type => "hidden", :value => "password"}/
  %input{:name => "auth_reset_password_url", :type => "hidden", :value => "{{ base_url }}{% path_to reset_password %}"}/
  %input{:name => "auth_email_handle", :type => "hidden", :value => "reset_password_instructions"}/
  %input{:name => "auth_callback", :type => "hidden", :value => "{% path_to sign_in %}"}/
  {% if auth_wrong_email %}
  .alert.alert-warning
    %h2.w3-center.w3-red {{ 'wmai' | translate }}
  {% endif %}
  .form-group
    .w3-row.w3-margin-top
      %input#auth-email.w3-twothird.w3-input{:name => "auth_id", :placeholder => "Email", :type => "email", :value => "{{ params.auth_id }}"}/
      %button.w3-third.w3-button.w3-red.w3-ripple{:type => "submit"} {{ 'subm' | translate }}
  {% endif %}
  %hr
  %p
    %a{:href => "{% path_to 'sign_in' %}"} {{ 'bksi' | translate }}
{% endif %}
{% endblock %}