---
title: My account
slug: me
handle: me
position: 2
listed: false
published: true
is_layout: false
---
{% extends 'layouts/default' %}
{% block main %}
{% authorize "accounts", "sign_in" %}
.w3-row-padding{:style => "margin:0 -16px"}
  .w3-third.w3-center.w3-card
    %h5 {{ 'myac' | translate }}
    {% if current_account %}
    %form{:id => "savatar", :action => "{% path_to update_avatar %}", :enctype => "multipart/form-data", :method => "POST"}
      %input{:name => "account", :value => "{{current_account._id}}", :type => "hidden"}/
      %input{:name => "avatar", :accept => "image/jpeg, image/jpg, image/png", "data-max-size" => "2097152", :type => "file", :value => "{{ current_account._id.avatar.url }}", :onchange => "loadFile(event)", :style => "display:none"}/
      %img#avatar.w3-circle{:src => "{% if current_account.avatar.url %}{{ current_account.avatar.url }}{% else %}{{ 'avatar.png' | theme_image_url }}{% endif %}", :style => "width:96px;height:96px;cursor:pointer"}/
    %p {{ current_account.name }}
    %p {{ current_account.email }}
    %form{:action => "{% path_to 'index' %}", :method => "POST"}
      %input{:name => "auth_action", :type => "hidden", :value => "sign_out"}/
      %input{:name => "auth_content_type", :type => "hidden", :value => "accounts"}/
      %input.w3-button.w3-red.w3-ripple{:type => "submit", :value => "Sign out"}/
      {% else %}
      .alert.alert-warning
        You need to
        = succeed "." do
          %a{:href => "{% path_to 'sign_in' %}"} sign in
      {% endif %}
    %br
  .w3-twothird
    %h5 {{ 'mysh' | translate }}
    .w3-border
      .w3-bar.w3-border-bottom.w3-light-grey
        <button class="w3-bar-item w3-button tablink w3-red" onclick="openTab(event, 'Actions')">Actions</button>
        <button class="w3-bar-item w3-button tablink" onclick="openTab(event, 'Apps')">Apps</button>
        <button class="w3-bar-item w3-button tablink" onclick="openTab(event, 'Gists')">Gists</button>
        <button class="w3-bar-item w3-button tablink" onclick="openTab(event, 'Miscs')">Miscs</button>
        <button class="w3-bar-item w3-button tablink" onclick="openTab(event, 'Templates')">Templates</button>
        <button class="w3-bar-item w3-button tablink" onclick="openTab(event, 'Videos')">Videos</button>
        <button class="w3-bar-item w3-button tablink w3-border-left" onclick="openTab(event, 'Trash')">{{ 'tras' | translate }}</button>
      #Actions.w3-container.tab.w3-animate-opacity{:style => "display: block;"}
        {% for action in current_account.actions %}
        %a{:href => "{% path_to action %}"} {{ action.name }}
        %a{:href => "{% path_to delete_action %}?name={{ action.name }}"}
          %i.fa.fa-trash.fa-fw.w3-right
        <a id="{{action._slug}}" href="#" onclick="popactModal(this.id, '/update/actiondata.json', loadactFunction)"><i class="fa fa-pencil fa-fw w3-right"></i></a>
        %br
        {% endfor %}
        <a href="#" class="w3-red" onclick="document.getElementById('create_action').style.display='block'">
        %i.fa.fa-plus.fa-fw
        </a>
      #Apps.w3-container.tab.w3-animate-opacity{:style => "display: none;"}
        {% for app in current_account.apps %}
        %a{:href => "{% path_to app %}"} {{ app.name }}
        %a{:href => "#"}
          %i.fa.fa-trash.fa-fw.w3-right
        %a{:href => "#"}
          %i.fa.fa-pencil.fa-fw.w3-right
        %br
        {% endfor %}
        <a href="#" class="w3-red" onclick="document.getElementById('create_app').style.display='block'">
        %i.fa.fa-plus.fa-fw
      #Gists.w3-container.tab.w3-animate-opacity{:style => "display: none;"}
        {% for gist in current_account.gists %}
        %a{:href => "{% path_to gist %}"} {{ gist.name }}
        %a{:href => "#"}
          %i.fa.fa-trash.fa-fw.w3-right
        %a{:href => "#"}
          %i.fa.fa-pencil.fa-fw.w3-right
        %br
        {% endfor %}
      #Miscs.w3-container.tab.w3-animate-opacity{:style => "display: none;"}
        {% for misc in current_account.miscs %}
        %a{:href => "{% path_to misc %}"} {{ misc.name }}
        %a{:href => "#"}
          %i.fa.fa-trash.fa-fw.w3-right
        %a{:href => "#"}
          %i.fa.fa-pencil.fa-fw.w3-right
        %br
        {% endfor %}
      #Templates.w3-container.tab.w3-animate-opacity{:style => "display: none;"}
        {% for template in current_account.templates %}
        %a{:href => "{% path_to template %}"} {{ template.name }}
        %a{:href => "#"}
          %i.fa.fa-trash.fa-fw.w3-right
        %a{:href => "#"}
          %i.fa.fa-pencil.fa-fw.w3-right
        %br
        {% endfor %}
      #Videos.w3-container.tab.w3-animate-opacity{:style => "display: none;"}
        {% for video in current_account.videos %}
        %a{:href => "{% path_to video %}"} {{ video.name }}
        %a{:href => "#"}
          %i.fa.fa-trash.fa-fw.w3-right
        %a{:href => ""}
          %i.fa.fa-pencil.fa-fw.w3-right
        %br
        {% endfor %}
      #Trash.w3-container.tab.w3-animate-opacity{:style => "display: none;"}
        %p {{ 'dele' | translate }} {{ 'ctcz' | translate }} <a href="mailto:webmaster@studiowan.fr?subject=TGV%20-%20Please%20undelete%20my%20file&body=I%20have%20deleted%20my%20file%20by%20mistake.%0ACan%20you%20recover%20it%20for%20me%3F%0AThe%20name%20is%3A%20">{{ 'iman' | translate }}</a> {{ 'reco' | translate }}
    %br
{% include 'me_code' %}
{% include 'modal_create_action' %}
{% include 'modal_update_action' %}
{% endblock %}