---
title: Sign up
slug: sign_up
handle: sign_up
position: 1
listed: false
published: true
is_layout: false
---
{% extends 'layouts/default' %}
{% block main %}
{% if current_account %}
.alert.alert-warning
  %h2.w3-center.w3-red {{ 'auth' | translate }}
{% else %}
.w3-main.w3-container{:style => "margin-left:300px;margin-top:43px;"}
  %header{:style => "padding-top:12px"}
  %form.w3-container.w3-card-4{:action => "{% path_to 'sign_up' %}", :method => "POST"}
    %input{:name => "auth_action", :type => "hidden", :value => "sign_up"}/
    %input{:name => "auth_content_type", :type => "hidden", :value => "users"}/
    %input{:name => "auth_id_field", :type => "hidden", :value => "email"}/
    %input{:name => "auth_password_field", :type => "hidden", :value => "password"}/
    %input{:name => "auth_email_handle", :type => "hidden", :value => "welcome_message"}/
    %input{:name => "auth_callback", :type => "hidden", :value => "{% path_to me %}"}/
    {% if auth_invalid_entry %}
    %h2.w3-center.w3-red {{ 'sorr' | translate }}
    {% endif %}
    %label{:for => "auth-name"} {{ 'name' | translate }}
    %input#auth-name.w3-input{:name => "auth_entry[name]", :type => "text", :value => "{{ auth_entry.name }}"}/
    {% if auth_entry.errors.name.size &gt; 0 %}
    {{ auth_entry.errors.name.first }}
    {% endif %}
    %label{:for => "auth-email"} {{ 'mail' | translate }}
    %input#auth-email.w3-input{:name => "auth_entry[email]", :type => "email", :value => "{{ auth_entry.email }}"}/
    {% if auth_entry.errors.email.size &gt; 0 %}
    {{ auth_entry.errors.email.first }}
    {% endif %}
    %label{:for => "auth-password"} {{ 'pass' | translate }}
    %input#auth-password.w3-input{:name => "auth_entry[password]", :type => "password"}/
    {% if auth_entry.errors.password.size &gt; 0 %}
    .w3-red {{ auth_entry.errors.password.first }}
    %br
    {% endif %}
    %label{:for => "auth-password"} {{ 'pasc' | translate }}
    %input#auth-password.w3-input{:name => "auth_entry[password_confirmation]", :type => "password"}/
    {% if auth_entry.errors.password_confirmation.size &gt; 0 %}
    .w3-red {{ auth_entry.errors.password_confirmation.first }}
    %br
    {% endif %}
    %button.w3-margin-top.w3-margin-bottom.w3-button.w3-red.w3-ripple{:type => "submit"} {{ 'siup' | translate }}
  %br
{% endif %}
{% endblock %}