---
title: Home page
published: true
listed: true
handle: index
editable_elements:
  main/welcome: 'Welcome to the #1 LocomotiveCMS ressources website.<br>Signup or
    signin to upload your ressources and share them with the world.'
  main/photo: "/samples/pages/tgv.jpg"
  main/overlay: It's&nbsp;coming...
  main/legend: "Either stick your ear to the rails or just use the menu on the left
    \U0001F913."
---
{% extends 'layouts/default' %}
{% block 'main' %}
%p {{ 'wel1' | translate }}<br/>{% unless current_account %}{{ 'wel2' | translate }}{% else %}{{ 'wel3' | translate }}{% endunless %}
.w3-container
  .w3-card-4
    .w3-display-container.w3-animate-opacity
      %img{:src => "{% unless current_account %}{{ 'tgv.jpg' | theme_image_url }}{% else %}{{ 'tgv-inside.jpg' | theme_image_url }}{% endunless %}", :style => "min-width: 100%;max-width: 100%"}/
      {% unless current_account %}
      .w3-display-middle.w3-text-white{:style => "font-size:5vw; text-shadow: 0px 0px 4px black;"} {{ 'come' | translate }}
      {% else %}
      .w3-display-middle.w3-text-white{:style => "font-size:5vw; text-shadow: 0px 0px 4px black;"} {{ 'boar' | translate }}
      {% endunless %}
{% unless current_account %}
%p {{ 'haha' | translate }}
{% else %}
%p {{ 'hihi' | translate }} {{ 'warn' | translate }}
{% endunless %}
{% endblock %}
