---
title: Accueil
published: true
editable_elements:
  main/welcome: Bienvenue dans votre site de ressources LocomotiveCMS.<br>Inscrivez-vous
    ou connectez-vous pour partager vos ressources.
  main/photo: "/samples/pages/tgv.jpg"
  main/overlay: Il&nbsp;arrive...
  main/legend: "Collez votre oreille au rail ou utilisez le menu de gauche \U0001F913"
---
