---
title: List
published: true
---
{% capture 'cat' %}{{ params.type }}{% endcapture %}
{% extends 'layouts/default' %}
{% block 'main' %}
.w3-main{:style => "margin-left:300px;margin-top:43px;"}
  %header.w3-container{:style => "padding-top:22px"}
    .w3-container
      {% case cat %}
      {% when 'actions' %}
      {% for action in contents.actions %}
      %a{:href => "{% path_to action %}?type=action"} {{ action.name }}
      {{ 'whos' | translate }} {{ action.user.name }}
      %br
      %p {{ action.desc | truncatewords: '25' }}
      %hr
      {% endfor %}
      {% when 'apps' %}
      {% for app in contents.apps %}
      %a{:href => "{% path_to app %}?type=app"} {{ app.name }}
      {{ 'whos' | translate }} {{ app.user.name }}
      %br
      %br
      .w3-row
        .w3-quarter
          %img{:src => "{{ app.pict.url }}", :style => "min-width: 100px;max-width: 100px;max-height: 80px;"}/
        .w3-rest
          %p {{ app.desc | truncatewords: '25' }}
      %hr
      {% endfor %}
      {% when 'gists' %}
      {% for gist in contents.gists %}
      %a{:href => "{% path_to gist %}?type=gist"} {{ gist.name }}
      {{ 'whos' | translate }} {{ gist.user.name }}
      %br
      %p {{ gist.desc | truncatewords: '25' }}
      %br
      {% endfor %}
      {% when 'templates' %}
      {% for template in contents.templates %}
      %a{:href => "{% path_to template %}?type=template"} {{ template.name }}
      {{ 'whos' | translate }} {{ template.user.name }}
      %br
      %br
      .w3-row
        .w3-quarter
          %img{:src => "{{ template.pict.url }}", :style => "min-width: 100px;max-width: 100px;max-height: 80px;"}/
        .w3-rest
          %p {{ template.desc | truncatewords: '25' }}
      %hr
      {% endfor %}
      {% endcase %}
  {% include 'footer' %}
{% endblock %}