---
title: Search
published: true
---
{% extends 'layouts/default' %}
{% block 'main' %}
/ !PAGE CONTENT!
.w3-main{:style => "margin-left:300px;margin-top:43px;"}
  / Header
  %header.w3-container{:style => "padding-top:22px"}
    %input#search-input.w3-input{:placeholder => "Search"}/
  %main.w3-container
    #hits
    #pagination
    %script#hit-template{:type => "text/html"}
      <div class="hit">
      <div class="hit-image">
      <img src="{{image}}" alt="{{name}}">
      </div>
      <div class="hit-content">
      <h3 class="hit-price">${{price}}</h3>
      <h2 class="hit-name">{{{_highlightResult.name.value}}}</h2>
      <p class="hit-description">{{{_highlightResult.description.value}}}</p>
      </div>
      </div>
  {% include 'footer' %}
  / End page content
{% endblock %}
