---
title: Default Layout
is_layout: true
---
!!!
%html
  %head
    {% seo %}
    %meta{:charset => "UTF-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %link{:href => "https://www.w3schools.com/w3css/4/w3.css", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Raleway", :rel => "stylesheet"}/
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    {% if fullpath contains 'search' %}
    %link{:href => "https://cdn.jsdelivr.net/npm/instantsearch.js@2.3/dist/instantsearch.min.css", :rel => "stylesheet"}/
    {% endif %}
    :css
      html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
      hr {border-top: 1px solid #f70000;}
  %body.w3-light-grey
    / Top container
    .w3-bar.w3-top.w3-black.w3-large{:style => "z-index:4"}
      %button.w3-bar-item.w3-button.w3-hide-large.w3-hover-none.w3-hover-text-light-grey{:onclick => "w3_open();"}
        %i.fa.fa-bars
        \&#160;Menu
      {% if page.handle == 'index' %}
      %span.w3-bar-item.w3-red.w3-left {% locale_switcher %}
      {% endif %}
      %span.w3-bar-item.w3-right.w3-animate-right.w3-red.w3-hide-small {{ 'title' | translate }}
      {% if params.type %}
      %span.w3-bar-item.w3-right.w3-animate-left {{ params.type | upcase }}
      {% else %}
      %span.w3-bar-item.w3-right.w3-animate-left {{ 'home' | translate | upcase }}
      {% endif %}
    / Sidebar/menu
    %nav#mySidebar.w3-sidebar.w3-collapse.w3-white.w3-animate-left{:style => "z-index:3;width:300px;"}
      %br/
      .w3-container.w3-row
        .w3-col.s4
          %img.w3-circle.w3-margin-right{:src => "{% if current_account.avatar.url %}{{ current_account.avatar.url }}{% else %}{{ 'avatar.png' | theme_image_url }}{% endif %}", :style => "width:46px"}/
        .w3-col.s8.w3-bar
          %span
            {{ 'hello' | translate }}, {% unless current_account %}<b>{{ 'guest' | translate }}</b>
          %br/
          <a href="#" onclick="document.getElementById('signup').style.display='block'">{{ 'siup' | translate }}</a>
          <a href="#" onclick="document.getElementById('signin').style.display='block'">{{ 'siin' | translate }}</a>
          {% else %}
          <b>{{ current_account.name }}</b>
          %br/
          %a{:href => "{% path_to me %}"} {{ 'yrac' | translate }}
          {% endunless %}
      %hr/
      .w3-bar-block
        %a.w3-bar-item.w3-button.w3-padding-16.w3-hide-large.w3-dark-grey.w3-hover-black{:href => "#", :onclick => "w3_close()", :title => "close menu"}
          %i.fa.fa-remove.fa-fw
          \&#160; Close Menu
        %a.w3-bar-item.w3-button.w3-padding{:href => "{% path_to 'index' %}"}
          %i.fa.fa-home.fa-fw
          \&#160; {{ 'home' | translate }}
        %a.w3-bar-item.w3-button.w3-padding{:href => "{% path_to 'list' %}?type=actions"}
          %i.fa.fa-wrench.fa-fw
          \&#160; Actions
          %span.w3-badge.w3-red.w3-small {{ contents.actions.size }}
        %a.w3-bar-item.w3-button.w3-padding{:href => "{% path_to 'list' %}?type=apps"}
          %i.fa.fa-cogs.fa-fw
          \&#160; Apps
          %span.w3-badge.w3-red.w3-small {{ contents.apps.size }}
        %a.w3-bar-item.w3-button.w3-padding{:href => "{% path_to 'list' %}?type=gists"}
          %i.fa.fa-github.fa-fw
          \&#160; Gists
          %span.w3-badge.w3-red.w3-small {{ contents.gists.size }}
        %a.w3-bar-item.w3-button.w3-padding{:href => "{% path_to 'list' %}?type=miscs"}
          %i.fa.fa-file.fa-fw
          \&#160; Miscs
          %span.w3-badge.w3-red.w3-small {{ contents.miscs.size }}
        {% if fullpath contains 'miscs' %}
        %form.w3-container.w3-margin-left
          %input#conf.w3-check{:checked => "checked", :type => "checkbox", :onclick => "toggleConf()"}/
          %label.w3-round-large.w3-blue Config
          %br/
          %input#gemf.w3-check{:checked => "checked", :type => "checkbox", :onclick => "toggleGemf()"}/
          %label.w3-round-large.w3-green Gemfile
          %br/
          %input#syst.w3-check{:checked => "checked", :type => "checkbox", :onclick => "toggleSyst()"}/
          %label.w3-round-large.w3-yellow System
        {% endif %}
        %a.w3-bar-item.w3-button.w3-padding{:href => "{% path_to 'list' %}?type=templates"}
          %i.fa.fa-html5.fa-fw
          \&#160; Templates
          %span.w3-badge.w3-red.w3-small {{ contents.templates.size }}
        %a.w3-bar-item.w3-button.w3-padding{:href => "{% path_to 'list' %}?type=videos"}
          %i.fa.fa-youtube-play.fa-fw
          \&#160; Videos
          %span.w3-badge.w3-red.w3-small {{ contents.videos.size }}
        .w3-bar-item
          %input#search-input.w3-input.w3-right{:placeholder => "{{ 'sear' | translate }}"}/
          #hits
          #pagination
          %script#hit-template{:type => "text/html"}
            <div class="hit">
            <div class="hit-image">
            <img src="{{image}}" alt="{{name}}">
            </div>
            <div class="hit-content">
            <h3 class="hit-price">${{price}}</h3>
            <h2 class="hit-name">{{{_highlightResult.name.value}}}</h2>
            <p class="hit-description">{{{_highlightResult.description.value}}}</p>
            </div>
            </div>
        %br/
    / Overlay effect when opening sidebar on small screens
    #myOverlay.w3-overlay.w3-hide-large.w3-animate-opacity{:onclick => "w3_close()", :style => "cursor:pointer", :title => "close side menu"}
    .w3-main.w3-container{:style => "margin-left:300px;margin-top:43px;"}
      %header{:style => "padding-top:14px"}
      / !PAGE CONTENT!
      {% block 'main' %}
      {% endblock %}
      / End page content
      {% if page.depth == 2 and params.type %}
      {% include 'comments' %}
      {% endif %}
      {% include 'footer' %}
      {% include 'modal_signup' %}
      {% include 'modal_signin' %}
      {{ 'app' | javascript_tag }}
      {% if fullpath contains 'search' %}
      {{ 'instantsearch.min' | javascript_tag }}
      {{ 'search' | javascript_tag }}
    {% endif %}
