---
title: Showcases
slug: content_type_showcase
position: 0
published: true
is_layout: false
content_type: showcases
---
{% extends 'layouts/default' %}
{% block 'main' %}
%h3 {{ showcase.name }}
%p{:style => "margin-top: -17px"}
  %i {{ 'whos' | translate }}
  %a{:href => "mailto:{{ showcase.account.email }}"} {{ showcase.account.name }}
  {% if showcase.version %}
  %br
  %i
    Locomotive&nbsp;{{ showcase.version }}
  {% endif %}
%p {{ showcase.desc }}
%img.w3-card{:src => "{{ showcase.pict.url | resize: '900x>', strip: 'true' }}", :style => "max-width: 100%"}/
%br
%hr
.w3-container
  .w3-bar
    %button.w3-bar-item.w3-button.w3-green
      %a{:href => "{{ showcase.url }}", :target => "_blank"} {{ 'webs' | translate }}
    %button.w3-bar-item.w3-button.w3-red
      %a{:href => "{{ showcase.by_url }}", :target => "_blank"} {{ 'crea' | translate }}
  %br
.w3-container
  %a{:href => "{% path_to 'list' %}?type=showcases"}
    %i.fa.fa-arrow-left.fa-fw>
    \&#160; {{ 'back' | translate }}
{% endblock %}
