---
title: Templates
slug: content_type_template
position: 0
listed: false
published: true
is_layout: false
content_type: templates
---
{% extends 'layouts/default' %}
{% block 'main' %}
%h3 {{ template.name }}
%p{:style => "margin-top: -17px"}
  %i {{ 'whos' | translate }}
  %a{:href => "mailto:{{ template.account.email }}"} {{ template.account.name }}
%p {{ template.desc }}
%img.w3-card{:src => "{{ template.pict.url | resize: '900x>' }}", :style => "max-width: 100%"}/
%br
%hr
.w3-container
  .w3-bar
    %button.w3-bar-item.w3-button.w3-green
      %a{:href => "{{ template.url }}", :target => "_blank"} {{ 'sour' | translate }}
    %button.w3-bar-item.w3-button.w3-red
      %a{:href => "{{ template.demo }}", :target => "_blank"} {{ 'demo' | translate }}
  %br
.w3-container
  %a{:href => "{% path_to 'list' %}?type=templates"}
    %i.fa.fa-arrow-left.fa-fw>
    \&#160; {{ 'back' | translate }}
{% endblock %}
