---
title: Templates
slug: content_type_template
position: 0
listed: false
published: true
is_layout: false
content_type: templates
---
{% extends 'layouts/default' %}
{% block 'main' %}
.w3-main{:style => "margin-left:300px;margin-top:43px;"}
  %header{:style => "padding-top:22px"}
  .w3-container
    %h3 {{ template.name }}
    %p {{ template.desc }}
    %img{:src => "{{ template.pict.url }}", :style => "max-width: 100%"}/
    %br
    %hr
  .w3-container
    .w3-bar
      %button.w3-bar-item.w3-button.w3-green
        %a{:href => "{{ template.url }}", :target => "_blank"} {{ 'sour' | translate }}
      %button.w3-bar-item.w3-button.w3-red
        %a{:href => "{{ template.demo }}", :target => "_blank"} {{ 'demo' | translate }}
  %br
  .w3-container
    %a{:href => "{% path_to 'list' %}?type=templates"}
      %i.fa.fa-arrow-left.fa-fw>
      \&#160; {{ 'back' | translate }}
    {% include 'comments' %}
{% endblock %}
